@font-face {
    font-family: 'Kelly Slab';
    src: url('../font/KellySlab-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-padding-top: 120px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: 'Kelly Slab', sans-serif;
}

body {
    margin: 0;
}

header {
    padding-left: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #ff8080;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size:16pt;
    border-bottom: 1px solid black;
    z-index: 10;
}

h2 {
    padding: 32px 0;
    text-align: center;
}

.header-link {
    width: 40%;
    display: flex;
    justify-content: end;
    padding-right: 15px;
    gap: 15px;
}

.header-link a {
    text-decoration: none;
    color: white;
}

.menu_small_icon {
    display: none;
}

.menu-small {
    display: none;
}

.menu_small_item {
    display: none;
}

.stick {
    width: 80%;
    height: 5px;
    background: black;
}

h1 {
    text-align: center;
}

p {
    margin: 0 0 10px 0;
}

main {
    width: 100%;
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18pt;
}

.part2 {
    background-color: #DE8282;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 15px;
    padding: 15px;
}

.text-only {
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
}

.block-pink {
    background-color: #FE9999;
}

.block-white {
    background-color: white;
}

.with-img {
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: 15px;
    margin-bottom: 15px;
}

.img-block {
    flex: 0 0 200px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#gorin {
    align-items: end;
}

#influence {
    padding-top: 20px;
    margin-top: 20px;
}

.img-block img {
    width: 100%;
    object-fit: cover;
}

.full-height {
    height: 100%;
}

.text-block {
    border-radius: 15px;
    padding: 15px;
    flex: 1;
}

.flex-block {
    margin: 30px 0 30px 0;
    display: flex;
    gap: 15px;
}

.flex-block-item1 {
    width: 30%;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    align-items: stretch;
    margin-bottom: 15px;
}

.container-grid p,
.container-grid img {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}

.container-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.full-width {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A83737;
    color: white;
    width: 100%;
    padding: 20px 15px;
    gap: 20px;
}

.footer-left {
    width: 50%;
}

.footer-left p {
    margin: 0 0 10px 0;
}

.footer-left ul {
    margin: 0;
    padding-left: 20px;
}

.line {
    width: 2px;
    height: 100px;
    background-color: white;
}

.footer-right {
    width: 50%;
    text-align: center;
}

.footer-right h2 {
    margin: 0;
}

.reg {
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 15vh;
    align-items: center;
    flex-direction: column;
    background-color: #ff8080;
}

form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}

input,
button {
    width:40%;
    border-radius: 8px;
    height: 30px;
    border: 2px solid #A83737;
}

@media (max-width: 426px) {
    header {
        font-size:12pt;
    }

    .header-link {
        display: none;
    }

    .menu-small {
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 300px;
        width: 80%;
        padding: 0;
        position: absolute;
        border-radius: 15px;
        background: #DE8282;
        transform: translateX(-110%);
        z-index: 100;
    }

    .menu_small_item {
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-small a {
        text-decoration: none;
        color: white;
    }

    .menu_small_item:first-child {
        padding-top: 15px;
    }

    .menu_small_icon {
        position: absolute;
        right: 1em;
        padding: 0;
        margin: 0;
        width: 50px;
        height: 50px;
        display: flex;
        z-index: 1;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    main {
        font-size: 13px;
    }

    h2 {
        font-size: 16px;
    }
    
    .img-block {
        flex: 0 0 100px;
    }

    .flex-block {
        margin: 0;
        display: block;
    }

    .flex-block-item1 {
        width: 100%;
    }

    .container-grid {
        display: block;
        gap: 2px;
    }

    .container-grid p,
    .container-grid img {
        background-color: white;
        border-radius: 15px;
        padding: 15px;
        margin-bottom: 15px;
    }

    .item-6 {
        margin-top: 15px;
    }

    .container-grid img {
        display: flex;
        justify-content: center;
    }

    footer {
        display: block;

    }

    .line {
        display: flex;
        justify-content: center;
        height: 1px;
        width: 50%;
        background-color: white;
        margin: 15px 0 15px 0;
    }

    .footer-left {
        width: 100%;
    }

    .footer-right {
        width: 100%;
        text-align: start;
    }
}

@media (max-width: 320px) {
    .img-block {
        display: none;
    }
}
